@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-pattern {
  background-size: 50px 50px;
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-color: #fafafa;
}

.cursor-cell {
  cursor: cell;
}

